<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
      <form action="/login" method="post">
      <p>用户名：<input name="username"></p>
      <p>密&nbsp;&nbsp;&nbsp;&nbsp;码  :<input name="password" type="password"></p>
      <p><button type="submit">提交</button></p>
      </form>
</body>
</html>